body{
    margin: auto;
    margin-top: 22%;
    text-align: center;
    font-size: 200%;
    background-image: url(../img/fondblur2.jpg);
    background-size: cover;
    text-shadow: 1px 0 0 rgba(255, 255, 255, 0.17), -1px 0 0 rgba(255, 255, 255, 0.17), 0 1px 0 rgba(255, 255, 255, 0.17), 0 -1px 0 rgba(255, 255, 255, 0.17), 1px 1px rgba(255, 255, 255, 0.17), -1px -1px 0 rgba(255, 255, 255, 0.17), 1px -1px 0 rgba(255, 255, 255, 0.17), -1px 1px 0 rgba(255, 255, 255, 0.17);
}

a{
    text-decoration: none;
    color: rgb(77, 27, 77);
}

a:visited{
    text-decoration: none;
    color: rgb(77, 27, 77);
}